Repository yomlaiolo/AREA, pull requests merged in 2023-12, with the labels that each got.

#6 Area 48 create component input text
  front-end/mobile-ForgeFlow/app/shared/components/textbox.tsx
  front-end/mobile-ForgeFlow/app/shared/res/hide.svg
  front-end/mobile-ForgeFlow/app/shared/res/show.svg
  front-end/mobile-ForgeFlow/package.json
Labels: FRONT-END

#7 Area 33 create home page web
  front-end/mobile-ForgeFlow/app/shared/res/ForgeFlow.svg
  front-end/web-ForgeFlow/.gitignore
  front-end/web-ForgeFlow/dist/index.html
  front-end/web-ForgeFlow/dist/web-ForgeFlow.f69400ca.js
  front-end/web-ForgeFlow/dist/web-ForgeFlow.f69400ca.js.map
  front-end/web-ForgeFlow/index.tsx
  front-end/web-ForgeFlow/pages/Home.tsx
  front-end/web-ForgeFlow/shared
  front-end/web-ForgeFlow/tsconfig.json
Labels: FRONT-END

#11 Area 51 write a readme
  README.md
Labels: documentation

#12 Area 37 create sign in page mobile
  front-end/mobile-ForgeFlow/App.tsx
  front-end/mobile-ForgeFlow/android/app/src/main/AndroidManifest.xml
  front-end/mobile-ForgeFlow/android/app/src/main/res/drawable/logo.png
  front-end/mobile-ForgeFlow/android/link-assets-manifest.json
  front-end/mobile-ForgeFlow/app/shared/components/button.tsx
  front-end/mobile-ForgeFlow/app/shared/components/couter.tsx
  front-end/mobile-ForgeFlow/app/shared/components/textbox.tsx
  front-end/mobile-ForgeFlow/app/shared/res/background_home.png
  front-end/mobile-ForgeFlow/app/shared/res/hide.png
  front-end/mobile-ForgeFlow/app/shared/res/hide.svg
  front-end/mobile-ForgeFlow/app/shared/res/logo.png
  front-end/mobile-ForgeFlow/app/shared/res/show.png
  front-end/mobile-ForgeFlow/app/shared/res/show.svg
  front-end/mobile-ForgeFlow/babel.config.js
  front-end/mobile-ForgeFlow/metro.config.js
  front-end/mobile-ForgeFlow/package.json
  front-end/mobile-ForgeFlow/src/loading.tsx
  front-end/mobile-ForgeFlow/src/login.tsx
  front-end/mobile-ForgeFlow/tsconfig.json
Labels: FRONT-END

#13 Add finished login page
  front-end/mobile-ForgeFlow/app/shared/components/button.tsx
  front-end/mobile-ForgeFlow/app/shared/components/textbox.tsx
  front-end/mobile-ForgeFlow/app/shared/res/google.png
  front-end/mobile-ForgeFlow/src/login.tsx
Labels: FRONT-END

#14 Add Mini_Flow component.
  front-end/mobile-ForgeFlow/App.tsx
  front-end/mobile-ForgeFlow/app/shared/components/button.tsx
  front-end/mobile-ForgeFlow/app/shared/components/mini_flow.tsx
  front-end/mobile-ForgeFlow/src/login.tsx
Labels: FRONT-END

#20 Area 32 implement users route
  .gitignore
  back-end/package-lock.json
  back-end/package.json
  back-end/src/app.controller.ts
  back-end/src/app.module.ts
  back-end/src/app.service.ts
  back-end/src/auth/auth.controller.ts
  back-end/src/auth/auth.decorator.ts
  back-end/src/auth/auth.guard.ts
  back-end/src/auth/auth.module.ts
  back-end/src/auth/auth.service.ts
  back-end/src/config/configuration.ts
  back-end/src/users/create-user.dto.ts
  back-end/src/users/user.schema.ts
  back-end/src/users/users.controller.ts
  back-end/src/users/users.module.ts
  back-end/src/users/users.service.ts
Labels: BACK-END

#21 Area 57 remake components but on web side
  .gitignore
  front-end/web-forgeflow/src/App.css
  front-end/web-forgeflow/src/App.tsx
  front-end/web-forgeflow/src/components/Button.css
  front-end/web-forgeflow/src/components/Button.tsx
  front-end/web-forgeflow/src/components/TextBox.css
  front-end/web-forgeflow/src/components/TextBox.tsx
  front-end/web-forgeflow/src/res/google.png
  front-end/web-forgeflow/src/res/hide.png
  front-end/web-forgeflow/src/res/show.png
Labels: FRONT-END

#22 Area 38 create area page mobile
  front-end/mobile-ForgeFlow/App.tsx
  front-end/mobile-ForgeFlow/app/shared/components/flow.tsx
  front-end/mobile-ForgeFlow/app/shared/components/mini_flow.tsx
  front-end/mobile-ForgeFlow/app/shared/res/ForgeFlow.svg
  front-end/mobile-ForgeFlow/app/shared/res/anvil.png
  front-end/mobile-ForgeFlow/app/shared/res/anvil_filled.png
  front-end/mobile-ForgeFlow/app/shared/res/play.png
  front-end/mobile-ForgeFlow/app/shared/res/play_filled.png
  front-end/mobile-ForgeFlow/app/shared/res/user.png
  front-end/mobile-ForgeFlow/app/shared/res/user_filled.png
  front-end/mobile-ForgeFlow/package.json
  front-end/mobile-ForgeFlow/src/areaPage.tsx
  front-end/mobile-ForgeFlow/src/forgePage.tsx
  front-end/mobile-ForgeFlow/src/home.tsx
  front-end/mobile-ForgeFlow/src/loading.tsx
  front-end/mobile-ForgeFlow/src/login.tsx
  front-end/mobile-ForgeFlow/src/profilePage.tsx
  front-end/mobile-ForgeFlow/src/register.tsx
Labels: FRONT-END

#24 Add: swagger
  back-end/package-lock.json
  back-end/package.json
  back-end/src/about/about.controller.ts
  back-end/src/auth/auth.controller.ts
  back-end/src/auth/auth.dto.ts
  back-end/src/auth/auth.service.ts
  back-end/src/main.ts
  back-end/src/users/create-user.dto.ts
  back-end/src/users/user.dto.ts
  back-end/src/users/users.controller.ts
  back-end/src/users/users.service.ts
Labels: documentation, BACK-END

#23 Area 57 remake components but on web side
  front-end/web-forgeflow/src/App.tsx
  front-end/web-forgeflow/src/components/Flow.css
  front-end/web-forgeflow/src/components/Flow.tsx
  front-end/web-forgeflow/src/components/MiniFlow.css
  front-end/web-forgeflow/src/components/MiniFlow.tsx
Labels: FRONT-END

#26 Area 33 create home page web
  front-end/web-forgeflow/package.json
  front-end/web-forgeflow/src/App.css
  front-end/web-forgeflow/src/App.tsx
  front-end/web-forgeflow/src/Routes.tsx
  front-end/web-forgeflow/src/assets/AppStore.svg
  front-end/web-forgeflow/src/assets/PlayStore.svg
  front-end/web-forgeflow/src/assets/background.png
  front-end/web-forgeflow/src/assets/google.png
  front-end/web-forgeflow/src/assets/hide.png
  front-end/web-forgeflow/src/assets/iMockup-Google.svg
  front-end/web-forgeflow/src/assets/iMockup-iPhone.svg
  front-end/web-forgeflow/src/assets/logo.svg
  front-end/web-forgeflow/src/assets/show.png
  front-end/web-forgeflow/src/components/TextBox.tsx
  front-end/web-forgeflow/src/pages/Homepage.tsx
  front-end/web-forgeflow/src/pages/Loginpage.tsx
  front-end/web-forgeflow/src/pages/NotFoundpage.tsx
  front-end/web-forgeflow/src/pages/Registerpage.tsx
Labels: FRONT-END

#27 Add: register
  back-end/package-lock.json
  back-end/package.json
  back-end/src/auth/auth.controller.ts
  back-end/src/auth/auth.dto.ts
  back-end/src/auth/auth.service.ts
  back-end/src/users/users.service.ts
Labels: BACK-END

#28 Area 61 fix server configuration
  back-end/.env.example
  back-end/src/app.controller.ts
  back-end/src/app.module.ts
  back-end/src/app.service.ts
  back-end/src/config/configuration.ts
Labels: BACK-END

#29 Add navigation bar component and flows page.
  front-end/web-forgeflow/src/Routes.tsx
  front-end/web-forgeflow/src/assets/addFlow.png
  front-end/web-forgeflow/src/assets/anvil.png
  front-end/web-forgeflow/src/assets/cross.png
  front-end/web-forgeflow/src/assets/home.png
  front-end/web-forgeflow/src/assets/notifications.png
  front-end/web-forgeflow/src/assets/play.png
  front-end/web-forgeflow/src/assets/selectFlow.png
  front-end/web-forgeflow/src/assets/selection.png
  front-end/web-forgeflow/src/components/Flow.tsx
  front-end/web-forgeflow/src/components/NavigationBar.css
  front-end/web-forgeflow/src/components/NavigationBar.tsx
  front-end/web-forgeflow/src/components/TextBox.css
  front-end/web-forgeflow/src/components/TextBox.tsx
  front-end/web-forgeflow/src/pages/Flows.css
  front-end/web-forgeflow/src/pages/Flows.tsx
Labels: FRONT-END

#30 Area 35 create sign in page web
  front-end/web-forgeflow/src/App.css
  front-end/web-forgeflow/src/components/TextBox.tsx
  front-end/web-forgeflow/src/pages/Flows.tsx
  front-end/web-forgeflow/src/pages/Homepage.css
  front-end/web-forgeflow/src/pages/Homepage.tsx
  front-end/web-forgeflow/src/pages/Loginpage.css
  front-end/web-forgeflow/src/pages/Loginpage.tsx
Labels: FRONT-END

#32 Creation of APK
  .gitignore
  front-end/mobile-ForgeFlow/build-android.js
  front-end/mobile-ForgeFlow/package.json
Labels: CI-CD

#33 ADD: connection with api for web
  back-end/src/main.ts
  front-end/web-forgeflow/package.json
  front-end/web-forgeflow/src/api.tsx
  front-end/web-forgeflow/src/pages/Flows.tsx
  front-end/web-forgeflow/src/pages/Loginpage.tsx
Labels: BACK-END, FRONT-END
